.standard {
	padding: 8.7rem 0 10.2rem;
	height: 52rem;
	background: $light-gray2;
	@include media-breakpoint-down(md) {
		padding: 2rem 0;
		height: auto;
	}
}
.text-holder {
	padding-top: 1.3rem;
	padding-left: 1rem;
	@include media-breakpoint-down(md) {
		margin-bottom: 2rem;
	}
	h3 {
		@include h3-title;
		@include after-title-line-left;
		text-transform: capitalize;
		letter-spacing: 0.02em;
	}
	p {
		margin-bottom: 2rem;
		& + p {
			margin-bottom: 0.5rem;
		}
	}
}
.img-holder {
	margin-right: -1.5rem;
	img {
		display: block;
		margin-left: auto;
		box-shadow: 0 1.5rem 2.6rem 0 rgba($dark, 0.4);
		@include media-breakpoint-down(md) {
			margin: 0 auto;;
			width: 100%;
		}
	}

}
